* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

#body-gral {
  background-image: url(../assets/img/optica-husky.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* navbar */
.navbar {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #eb7303), color-stop(70%, black));
  background: linear-gradient(90deg, #eb7303 30%, black 70%);
  border-radius: 0px 0px 15px 15px;
  font-family: 'Antonio', sans-serif;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .container-fluid {
  margin-left: 7%;
}

.navbar img {
  width: 64px;
  height: 42px;
  border-radius: 10px;
  padding: 2px;
}

.navbar .nav-item {
  margin-left: 5%;
}

.navbar .navbar-brand:hover {
  background-color: black;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar .navbar-collapse {
  text-transform: capitalize;
}

.navbar a:hover {
  background-color: black;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar .custom-toggler.navbar-toggler {
  border-color: aliceblue;
}

.navbar .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235, 115, 3, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* main */
main {
  margin: 7.5%;
}

main #title-gral {
  color: #eb7303;
  text-align: center;
  text-transform: capitalize;
}

main .media-index-container {
  display: -ms-grid;
  display: grid;
  overflow-wrap: nowrap;
  min-height: 100%;
  width: 100%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: auto;
}

main .media-index-container .image-index {
  height: 400px;
  width: auto;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(237, 237, 237, 0.768);
  -webkit-box-shadow: #eb7303;
          box-shadow: #eb7303;
  padding: 20px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: slideimage;
          animation-name: slideimage;
}

main .media-index-container .text-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Antonio', sans-serif;
  font-size: 16px;
  color: rgba(235, 115, 3, 0.596);
  background-color: rgba(23, 47, 63, 0.642);
  border: 2px solid rgba(237, 237, 237, 0.768);
  border-radius: 10px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: slidetext;
          animation-name: slidetext;
}

@-webkit-keyframes slidetext {
  from {
    margin-left: 50%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidetext {
  from {
    margin-left: 50%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes slideimage {
  from {
    margin-right: 100%;
    width: 300%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}

@keyframes slideimage {
  from {
    margin-right: 100%;
    width: 300%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  main .media-index-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .media-index-container .image-index {
    border-color: rgba(235, 115, 3, 0.596);
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  main .media-index-container .text-index {
    color: aliceblue;
    border: 2px solid black;
    background-color: rgba(235, 115, 3, 0.596);
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
}

/* footer */
#body-gral footer {
  position: relative;
  font-family: 'Antonio', sans-serif;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #eb7303), color-stop(70%, black));
  background: linear-gradient(90deg, #eb7303 30%, black 70%);
  border-radius: 0px 0px 15px 15px;
  color: aliceblue;
}
/*# sourceMappingURL=main.css.map */