/* NORMALIZACION, NAV, FOOTER E INDEX EN SASS */
/* --------------------------ADVENTURE---------------------------------- */
.grid-main-adv {
    display: grid;
    overflow-wrap: nowrap;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: auto;
}
.rodadas-list {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    overflow: hidden;
    align-items: center;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(23, 47, 63, 0.642);
    border: 2px solid rgba(235, 115, 3, 0.324);
    border-radius: 10px;
}
.rodadas-list h3 {
    color: aliceblue;
}
.rodadas-list li {
    border: 2px #000 solid;
    background-color: rgba(237, 237, 237, 0.768);
    background-position: center;
    border-radius: 10px;
}
.rodadas-list li :hover {
    background-color: rgb(255, 0, 0, 0.658);
    transition: 0.2s;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 10px;
}
.ruta0 {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-direction: column;
    height: 480px;
    width: 100%;
    overflow: visible;
    background-color: rgba(237, 237, 237, 0.768);
    border-radius: 10px;
}
#title-adventure {
    color: rgb(235, 115, 3);
    text-align: center;
    text-transform: capitalize;
}
@media only screen and (max-width: 768px) {
    .grid-main-adv {
        display: flex;
        flex-direction: column;
    }
}
.iframes-adv {
    margin-top: 10px;
    width: 100%;
    display: flex;
    max-height: 495px;
    background-color: #000;
    gap: 12px;
    padding: 2px;
    overflow-x: scroll;
    border: 2px solid rgba(235, 115, 3, 0.596);
    border-radius: 10px;
    padding: 10px;
}
.iframe-item {
    border: solid rgba(237, 237, 237, 0.768);
    border-radius: 10px;
}
/* --------------------------------------GALERIA-------------------------------------- */
.grid-gallery-container {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
    overflow-wrap: nowrap;
    grid-template-columns: repeat(3, 1fr);    
    gap: 10px;
    padding: 20px 0 20px 0;
}
.media {
    min-height: 200px;
    min-width: 400px;
    padding: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border: 2px solid #000;
    box-shadow: orange;
    border-radius: 10px;
}
.media .text-gallery {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    color: aliceblue;
    text-transform: capitalize;
}
.zoom {

    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.25);
}
#title-gallery {
    color: rgb(235, 115, 3);
    text-align: center;
    text-transform: capitalize;
}
@media only screen and (max-width: 768px) {
    .grid-gallery-container {
        display: flex;
        flex-direction: column;
    }
    .media {
        border-color: rgba(235, 115, 3, 0.324);
    }
}
.aside-gallery {
    background-color: rgba(23, 47, 63, 0.642);
}
#carouselExampleCaptions {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
.carousel-inner {
    max-height: 480px;
    border-radius: 10px;
}
/* ----------------------LISTA MANTENIMIENTO---------------------------- */
#title-mant {
    color: rgb(235, 115, 3);
    text-align: center;
    text-transform: capitalize;
}
.grid-mant-container {
    display: grid;
    overflow-wrap: nowrap;
    gap: 20px;
    margin: auto;
    width: 100%;
    height: 100%;
}
.mant-list li {
    background-color: rgba(23, 47, 63, 0.642);
    font-family: 'Fira Sans', sans-serif;
    text-transform: capitalize;
    margin: auto;
}
.mant-list li :hover {
    background-color: rgb(255, 0, 0, 0.658);
    transition: 0.2s;
    font-weight: bold;
}
.mant-descrip {
    width: 300px;
    background-color: rgba(23, 47, 63, 0.642);
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Antonio', sans-serif;
    color: aliceblue;
    border-radius: 10px;
    border: 2px black solid;
    margin: auto;
}
.repuestos {
    padding-left: 20px;
    list-style-type: none;
    background-image: url(../assets/iconos/cadena.png);
    background-size: 16px;
    background-repeat: no-repeat;
    margin-left: 40%;
    width: 250px;
}
.repuestos a {
    color: aliceblue;
}
.accesorios {
    padding-left: 20px;
    list-style-type: none;
    background-image: url(../assets/iconos/exhaust.png);
    background-position: 0 0;
    background-size: 16px;
    background-repeat: no-repeat;
    margin-left: 40%;
    width: 250px;
}
.accesorios a {
    color: aliceblue;
}
.problemas {
    padding-left: 20px;
    list-style-type: none;
    background-image: url(../assets/iconos/question.png);
    background-position: 0 0;
    background-size: 16px;
    background-repeat: no-repeat;
    margin-left: 40%;
    width: 250px;
}
.problemas a {
    color: aliceblue;
}
.verif {
    padding-left: 20px;
    list-style-type: none;
    background-image: url(../assets/iconos/hand.png);
    background-position: 0 0;
    background-size: 16px;
    background-repeat: no-repeat;
    margin-left: 40%;
    width: 250px;
}
.verif a {
    color: aliceblue;
}
.docu {
    padding-left: 20px;
    list-style-type: none;
    background-image: url(../assets/iconos/papeles.png);
    background-position: 0 0;
    background-size: 16px;
    background-repeat: no-repeat;
    margin-left: 40%;
    width: 250px;
}
.docu a {
    color: aliceblue;
}
.gear {
    padding-left: 20px;
    list-style-type: none;
    background-image: url(../assets/iconos/casco.png);
    background-position: 0 0;
    background-size: 16px;
    background-repeat: no-repeat;
    margin-left: 40%;
    width: 250px;
}
.gear a {
    color: aliceblue;
}
@media only screen and (max-width: 768px) {
    .grid-mant-container {
        display: flex;
        flex-direction: column;
    }
}
/* -----------------------------------CONTACTO-------------------------------------- */
#title-contact {
    text-align: center;
    text-transform: capitalize;
    color: rgb(235, 115, 3);
}
.main-contact {
    background-color: rgba(23, 47, 63, 0.642);
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
}
.form {
    color: rgba(235, 115, 3, 0.596);
    font-family: 'Antonio', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.form ::placeholder {
    color: rgba(235, 115, 3, 0.596);
}
@media only screen and (max-width: 768px) {
    .reg-cont {
        color: rgba(235, 115, 3, 0.596);
    }

    .form-title {
        color: rgba(235, 115, 3, 0.596);
    }

    .form {
        font-family: 'Fira Sans', sans-serif;
        color: aliceblue;
    }
}
