.grid-main-adv {
    display: grid;
    overflow-wrap: nowrap;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: $borderRadius;

    .rodadas-list {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        flex-grow: 1;
        overflow: hidden;
        align-items: center;
        padding-top: 10%;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        background-color: map-get($colors, blueBg);
        border: 2px solid map-get($colors, greyBg);
        border-radius: $borderRadius;
        color: map-get($colors, whiteFont);
        font-family: 'Fira Sans', sans-serif;

        a {
            font-family: 'Fira Sans', sans-serif;
            color: map-get($colors, whiteFont);
            padding: 5px;
            background-position: center;
        }

        li :hover {
            background-color: map-get($colors, orangeNav);
            transition: 0.2s;
            border-radius: $borderRadius;
        }
    }

    .ruta0 {
        display: flex;
        flex-basis: auto;
        flex-grow: 1;
        flex-direction: column;
        height: 480px;
        width: 100%;
        overflow: hidden;
        background-color: map-get($colors, greyBg);
        border-radius: $borderRadius;
        border: 2px solid map-get($colors, greyBg);
    }
}

.iframes-adv {
    margin: 2% 5% 2% 5%;
    width: 90%;
    display: flex;
    max-height: 495px;
    background-color: map-get($colors, blackFont);
    gap: 2px;
    overflow-x: scroll;
    border: 2px solid map-get($colors, greyBg);

    .iframe-item {
        border-radius: $borderRadius;
    }
}

@media only screen and (max-width: 768px) {
    .grid-main-adv {
        display: flex;
        flex-direction: column;

        .rodadas-list {
            background-color: map-get($colors, orangeBg);
            border-color: map-get($colors, blackFont);

            a {
                border: none;
            }

            a:hover {
                background-color: map-get($colors, blackFont);
            }
        }

        .ruta0 {
            border-color: map-get($colors, orangeBg);
        }
    }

    body .iframes-adv {
        border-color: map-get($colors, orangeBg);
    }
}