.main-contact {
    // margin: $marginstd;
    background-color: map-get($colors, blueBg);
    border-radius: $borderRadius;
    border: 1px solid map-get($colors, greyBg);
    color: map-get($colors, whiteFont);
    text-align: center;
    min-height: 100vh;
    max-width: 50%;
    margin: auto;
    display: grid;
    // justify-content: center;

    & .form {
        color: map-get($colors, whiteFont);
        font-family: 'Fira Sans', sans-serif;
        padding: $borderRadius;

        & ::placeholder {
            color: map-get($colors, blueBg);
        }
    }
    .submit-btn {
        width: 6.25rem;
        border: none;
        background-color: map-get($colors, greyBg);
        border-radius: 1.25rem;
        font-weight: bold;
    }

    fieldset button:hover {
        color: map-get($colors, orangeNav);
    }
}

@media only screen and (max-width: 768px) {
    .main-contact {
        color: map-get($colors, whiteFont);
        border: 2px solid map-get($colors, blackFont);
        background-color: map-get($colors, orangeBg);
        max-width: 80%;
        
        #title-gral {
            color: map-get($colors, whiteFont);
        }
    }
}