.grid-gallery-container {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    padding: 20px 0 20px 0;

    & .media {
        min-height: 220px;
        min-width: 400px;
        border: solid 1px;
        border-color: map-get($colors, orangeBg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;

        .text-gallery {
            height: 100%;
            display: flex;
            align-items: flex-end;

            h3 {
                font-size: 16px;
                color: map-get($colors, whiteFont);
                text-transform: uppercase;
                bottom: 0.625rem;
                padding: 8px 8px 8px 16px;
                background-color: map-get($colors, orangeBg);
                font-size: 16px;
                border-radius: 0 10px 25px 0;
                line-height: 0.6;
            }
        }

    }

    .zoom {
        transition: transform .3s;

    }

    .zoom:hover {
        transform: scale(1.25);
    }
}

@media only screen and (max-width: 768px) {
    .grid-gallery-container {
        display: flex;
        flex-direction: column;
    }

    .media {
        border-color: map-get($colors, orangeBg);
    }
}

.aside-gallery {
    @media only screen and (max-width: 768px) {
        .grid-gallery-container {
            display: flex;
            flex-direction: column;
        }

        .media {
            border-color: map-get($colors, orangeBg);
        }
    }
}
