.grid-mant-container {
    display: grid;
    gap: 20px;

    .mant-descrip {
        width: 300px;
        background-color: map-get($colors, blueBg);
        display: flex;
        flex-direction: column;
        font-family: 'Fira Sans', sans-serif;
        color: map-get($colors, whiteFont);
        border: 1px solid map-get($colors, greyBg);
        padding: 10px;
        text-align: center;
        border-radius: $borderRadius;
        margin: auto;
    }

    .mant-list {
        text-align: center;

        ul {
            display: inline-block;
            border: 1px solid map-get($colors, greyBg);
            background-color: map-get($colors, blueBg);
            border-radius: $borderRadius;
            text-transform: capitalize;

            a {
                color: map-get($colors, whiteFont);
            }

            li :hover {
                background-color: map-get($colors, orangeNav);
                transition: 0.2s;
                font-weight: bold;
            }

            .repuestos {
                background-image: url(../assets/iconos/cadena.png);
                padding-left: 20px;
                background-size: 16px;
                background-repeat: no-repeat;
                width: 250px;
            }

            .accesorios {
                background-image: url(../assets/iconos/exhaust.png);
                padding-left: 20px;
                background-position: 0 0;
                background-size: 16px;
                background-repeat: no-repeat;
                width: 250px;
            }

            .problemas {
                background-image: url(../assets/iconos/question.png);
                padding-left: 20px;
                background-position: 0 0;
                background-size: 16px;
                background-repeat: no-repeat;
                width: 250px;
            }

            .verif {
                background-image: url(../assets/iconos/hand.png);
                padding-left: 20px;
                background-position: 0 0;
                background-size: 16px;
                background-repeat: no-repeat;
                width: 250px;
            }

            .docu {
                background-image: url(../assets/iconos/papeles.png);
                padding-left: 20px;
                background-position: 0 0;
                background-size: 16px;
                background-repeat: no-repeat;
                width: 250px;
            }

            .gear { 
                background-image: url(../assets/iconos/casco.png);
                padding-left: 20px;
                background-position: 0 0;
                background-size: 16px;
                background-repeat: no-repeat;
                width: 250px;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .grid-mant-container {
            display: flex;
            flex-direction: column;
        }

        .mant-descrip {
            color: map-get($colors, whiteFont);
            border: 1px solid map-get($colors, blackFont);
            background-color: map-get($colors, orangeBg);
        }

        .mant-list ul {
            color: map-get($colors, whiteFont);
            border: 1px solid map-get($colors, blackFont);
            background-color: map-get($colors, orangeBg);
        }
    }
}