@import 'normalize';
@import 'vars';
@import 'contacto';
@import 'galeria';
@import 'mantenimiento';
@import 'adventure';

#body-gral {
    background-image: url(../assets/img/optica-husky.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navbar */
.navbar {
    background: map-get($gradiente, cool);
    border-radius: 0px 0px 15px 15px;
    font-family: 'Antonio', sans-serif;
    padding: 10px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    min-width: 320px;

    .container-fluid {
        margin-left: 7%;
    }

    img {
        width: 64px;
        height: 42px;
        border-radius: $borderRadius;
        padding: 2px;
    }

    .nav-item {
        margin-left: 5%;
    }

    & &-brand:hover {
        background-color: map-get($colors, blackFont);
        border-radius: $borderRadius;
        transition: 1s;
    }

    & &-collapse {
        text-transform: capitalize;
    }

    & a:hover {
        background-color: map-get($colors, blackFont);
        border-radius: $borderRadius;
        transition: 1s;
    }

    .custom-toggler.navbar-toggler {
        border-color: map-get($colors, whiteFont);
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235, 115, 3, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

/* main */
main {
    margin: 2% 10% 2% 10%;
    min-height: 100vh;

    #title-gral {
        @include titles()
    }

    .media-index-container {
        display: grid;
        width: 100%;
        gap: 10px;
        margin: auto;

        & .image-index {
            height: 480px;
            width: auto;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            flex-basis: auto;
            flex-grow: 1;
            overflow: hidden;
            align-items: center;
            border-radius: 10px;
            border: 1px solid map-get($colors, greyBg);
            animation-duration: 3s;
            animation-name: slideimage;
        }

        & .text-index {
            display: flex;
            flex-direction: column;
            flex-basis: auto;
            flex-grow: 1;
            max-height: 480px;
            align-items: center;
            font-family: 'Fira Sans', sans-serif;
            color: map-get($colors, whiteFont);
            font-size: 16px;
            padding: $borderRadius;
            background-color: map-get($colors, blueBg);
            border: 1px solid map-get($colors, greyBg);
            border-radius: 10px;
            animation-duration: 3s;
            animation-name: slidetext;
        }

        @keyframes slidetext {
            from {
                margin-left: 50%;
                width: 300%;
            }

            to {
                margin-left: 0%;
                width: 100%;
            }
        }

        @keyframes slideimage {
            from {
                margin-right: 100%;
                width: 300%;
            }

            to {
                margin-right: 0%;
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .media-index-container {
            display: flex;
            flex-direction: column;
        }

        .media-index-container .image-index {
            border-color: map-get($colors, orangeBg);
            animation-duration: 2s;
        }

        .media-index-container .text-index {
            color: map-get($colors, whiteFont);
            border: 2px solid map-get($colors, blackFont);
            background-color: map-get($colors, orangeBg);
            animation-duration: 2s;
        }

    }
}

/* footer */
footer {
    position: relative;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    background: map-get($gradiente, cool);
    border-radius: 0px 0px 15px 15px;
    color: map-get($colors, whiteFont);
    text-transform: uppercase;
    min-width: 320px;
    
    a svg {
        margin-bottom: 1.5%;
    }
}
.inner-foot {
    text-transform: lowercase;
    font-size: 12px;
}